MXAccountingWeb/Web References/SmartAccountant/counterAccountant.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ProcessCounterRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="counterDetails" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="accessID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tokenID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessCounterRequestResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessCounterRequestSoapIn">
    <wsdl:part name="parameters" element="tns:ProcessCounterRequest" />
  </wsdl:message>
  <wsdl:message name="ProcessCounterRequestSoapOut">
    <wsdl:part name="parameters" element="tns:ProcessCounterRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="CounterAccountantSoap">
    <wsdl:operation name="ProcessCounterRequest">
      <wsdl:input message="tns:ProcessCounterRequestSoapIn" />
      <wsdl:output message="tns:ProcessCounterRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CounterAccountantSoap" type="tns:CounterAccountantSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessCounterRequest">
      <soap:operation soapAction="http://tempuri.org/ProcessCounterRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CounterAccountantSoap12" type="tns:CounterAccountantSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessCounterRequest">
      <soap12:operation soapAction="http://tempuri.org/ProcessCounterRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CounterAccountant">
    <wsdl:port name="CounterAccountantSoap" binding="tns:CounterAccountantSoap">
      <soap:address location="http://smartcounter.csignageplus.com/smartcounter/WebService/counterAccountant.asmx" />
    </wsdl:port>
    <wsdl:port name="CounterAccountantSoap12" binding="tns:CounterAccountantSoap12">
      <soap12:address location="http://smartcounter.csignageplus.com/smartcounter/WebService/counterAccountant.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>